body,html {
	font: 16px "Times New Roman", sans-serif;
	margin:0;
  	padding:0;

}
.texto{
	text-align: center;
	padding: 40px 60px;
  	width: 100%;
   	max-width: 650px;
   	margin: auto;
}

.texto h3{
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

.texto p{
	margin-bottom: 50px;
}
.logo, .imagem1, .imagem2, .imagem3, .imagem4, .imagem5, .imagemfim {

	position: static;
	height: 100%;
	width: 100%;
	background-size:cover;
	margin-top: 0%;

	/* EFEITO DE PARALLAX*/
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.logo{
	background-image: url(imagens/logo.jpg);
}

.imagem1{
	background-image: url(imagens/imagem1.jpg);

}

.imagem2{
	background-image: url(imagens/imagem2.jpg);

}

.imagem3{
	background-image: url(imagens/imagem3.jpg);

}

.imagem4{
	background-image: url(imagens/imagem4.jpg);

}

.imagem5{
	background-image: url(imagens/imagem5.jpg);

}

.imagemfim{
	background-image: url(imagens/imagemfim.jpg);

}
